[submodule "ext/llvm-project"]
	path = ext/llvm-project
	url = https://github.com/big2cater/llvm-project.git
	branch = zluda-rdna4-wmma
	shallow = true
[submodule "ext/HiGHS"]
	path = ext/HiGHS
	url = https://github.com/ERGO-Code/HiGHS.git
	shallow = true
